<p>Welcome <b><%= current_user.username%></b>! </p>

<h2>View all your babies </h2>
<br>
<ul>
<br>
<% if @schedules.size > 0 %>
    <% @schedules.each do |scheme| %>
        <% if scheme.user_id == current_user.id %>    
        <li><a href="schedules/<% scheme.baby_id %>"> </a></li>
        <br>
        <% end %>
    <% end %>
    <br>
    <br>
    <a href="/babies/new">Add your baby</a>
    <% else %>
<p>No baby saved. <a href="/babies/new">Add your baby</a>.</p>
<% end %>

</ul>