<h1>create a new feeding log</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>


<form action="/babies/:id" method="POST">
  
  <label for="feeding_type">Feeding_type: </label>
   <input type="string" name="feeding_type" id="feeding_type">

  

  <input type="submit" value="Add a new log">
</form>
