<p>Welcome <b><%= current_user.username%></b>! </p>

<h1>Click the baby to add feeding log </h1>
<h2></h2>
<br>
<ul>
<br>
<% if @babies.size > 0 %>
    <% @babies.each do |baby| %>
        <% if baby.user_id == current_user.id %>    
        <li><a href="babies/<%= baby.id %>"> Name: <%= baby.name %>, (Age <%= baby.age %>) </a></li>
        <br>
        <% end %>
    <% end %>
    <br>
    <br>
    <a href="/babies/new">Add your baby</a>
    <% else %>
<p>No baby saved. <a href="/babies/new">Add your baby</a>.</p>
<% end %>

</ul>



