<h1>Create a new baby</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<form action="/babies" method="POST">
  
  <label for="name">Name: </label>
   <input type="text" name="name" id="name">

  <label for="age">Age: </label>
    <input type="string" name="age" id="age">

  <input type="submit" value="Create a Baby">
</form>