<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Sinatra Baby Feeding Log!</h2>

    <div class="content">
      <p>Welcome Sinatra Baby Feeding Log!</p> 
      <p>You can track your baby’s feedings by time, feeding type and amount.</p>
    </div>

  </div>
</div>
