  <div>
  <br>
    <h1>Sinatra Baby Feeding Log</h2>
  <br/>
  
  </div>    
    <br>
    <br>
  <div>
      <h2>Welcome Sinatra Baby Feeding Log!<br> 
      You can track your baby’s feedings by time, feeding type and amount.</h2><br>
    <br>
    <br>
      <p>If you're a new user, please <b><a href="/signup">sign up</a></b> to start using the app.</p>
      <p>If you're a returning user, please <b><a href="/login">log in</a></b> to view your data.</p>
    <br>
    <br>
  </div>
