  <div>
  <br>
    <h1>Sinatra Baby Feeding Log</h2>
  <br/>
  
  </div>    
    <br>
    <br>
  <div>
      <h2>Welcome to Sinatra Baby Feeding Log!<br> 
      You can track your baby’s feeding logs by time, feeding type and amount.</h2><br>
    <br>
    <br>
      <p>If you're a new user, please <b><a href="/signup">sign up</a></b> to start.</p>
      <p>If you have an ID, please <b><a href="/login">log in</a></b> to view your data.</p>
    <br>
    <br>
  </div>
